<nav class="navbar navbar-dark bg-primary" *ngIf="!isUserLoggedIn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="icon-isens isens"></span>
      </a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-toggleable navbar-dark bg-primary" *ngIf="isUserLoggedIn">
  <button (click)="isMenuVisible = !isMenuVisible" class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerMainMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"><span class="icon-isens isens"></span></a>

  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuVisible">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Formulas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/commodities" routerLinkActive="active">Materias primas</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
