<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <span style="font-size: 50px;color: grey;padding: 10px;" class="material-icons">account_box</span>
    </div>
    <form>
      <input [(ngModel)]="user" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input [(ngModel)]="passwd" type="password" id="password" class="fadeIn third" name="login"
             placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Ingresar" (click)="onLoginClick()">
    </form>

    <div id="formFooter">
      {{msg}}
      <a class="underlineHover" [routerLink]="'/reset-password'">Olvide contraseña</a>
    </div>
  </div>
</div>
