<div class="d-flex justify-content-center align-items-center flex-wrap" style="padding-top: 30px">
  <form class="well form-horizontal" id="detail_form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="nombre de la fragancia" readonly>
      </div>
      <div class="form-group col-md-6">
        <label>Precio</label>
        <input type="number" class="form-control" placeholder="precio de la fragancia" readonly>
      </div>
      <div class="d-flex flex-column container-fluid">
        <h3>Componentes:</h3>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Costo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of components; index as i">
              <th scope="row">{{i+1}}</th>
              <td>
                {{c.Name}}
              </td>
              <td>
                {{c.Quantity | number}}
              </td>
              <td>
                {{c.Price | currency: 'ARS'}}
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Volver</button>
      </div>
    </div>
  </form>
</div>