@media print{
  .doNotPrint{display:none !important;}
  .no-border{
    outline: none;
    border: none;
  }
  .print{
    width: 300px;
  }
}

@media screen {
  .printContent{
    display: none;
  }
}
