<div class="form-group">
  <label for="inputName">Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="fragancia.Description"
         id="inputName" placeholder="AZAHAR ISENS">
  <div class="alert alert-info" role="alert">
    Los nombres son convertidos a mayuscula una vez la fragancia sea almacenada.
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputPrice">Precio</label>
    <input id="inputPrice"
           class="form-control"
           placeholder="40.00"
           (ngModelChange)="fragancia.Price = $event.toFixed(2)"
           [(ngModel)]="fragancia.Price">
  </div>
  <div class="form-group col-md-6">
    <label for="inputCost">Costo</label>
    <input id="inputCost" class="form-control" placeholder="20.00" [(ngModel)]="fragancia.Cost">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    Buscar:
    <input class="form-control" type="text" [class.is-invalid]="searchFailed" [(ngModel)]="model"
           [ngbTypeahead]="search" placeholder="AC DE PINO"/>
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
  <div class="form-group col-md-6">
    <button class="btn btn-primary" style="margin-top: 25px;" (click)="add()">Agregar</button>
  </div>
</div>

<table class="table table-hover">
  <thead class="table table-hover">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Producto</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precio</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of fragancia.Components; index as i">
    <th scope="row">{{i + 1}}</th>
    <th scope="row">{{c.Description}}</th>
    <th scope="row">
      <input type="number" [(ngModel)]="c.Quantity" (ngModelChange)="updateTotalQuantity();">
    </th>
    <th scope="row">{{c.Cost | number:'1.2-2'}}</th>
    <th scope="row">{{c.Cost * c.Quantity | number:'1.2-2'}}</th>
  </tr>
  <tr>
    <td></td>
    <td>Total:</td>
    <td>{{this.totalQuantity | number:'1.2-2'}}</td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="save()">Guardar</button>
