<div class="form-group">
  <label for="inputName">Nombre</label>
  <input tabindex="1" type="text" (keyup.enter)="searchbox.focus();" class="form-control"
         [(ngModel)]="fragancia.Description"
         id="inputName" placeholder="AZAHAR ISENS">
  <div class="alert alert-info" role="alert">
    Los nombres son convertidos a mayuscula una vez la fragancia sea almacenada.
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputPrice">Precio</label>

    <input id="inputPrice"
           tabindex="2"
           class="form-control"
           placeholder="40.00"
           [(ngModel)]="fragancia.Price">
  </div>
  <div class="form-group col-md-6">
    <label for="inputCost">Costo</label>
    <input id="inputCost"
           tabindex="3"
           class="form-control"
           placeholder="20.00"
           [(ngModel)]="fragancia.Cost">
  </div>
</div>
<div class="form-row" (keyup.f5)="save(confirmDialog)" (keyup.f6)="update(confirmDialog)">
  <div class="form-group col-md-6">
    Buscar:
    <input class="form-control" type="text" [class.is-invalid]="searchFailed" [(ngModel)]="model"
           tabindex="4"
           [ngbTypeahead]="search" placeholder="AC DE PINO" #searchbox
           (keyup.enter)="add(content);"
    />
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
  <div class="form-group col-md-6">
    <button class="btn btn-primary" style="margin-top: 25px;" (click)="add(content)">Agregar</button>
  </div>
</div>

<div class="alert alert-info" role="alert">
  Al presionar F5 se creara una nueva fragancia.
</div>
<div class="alert alert-info" role="alert">
  Al presionar F6 se actualizaran los datos.
</div>

<table class="table table-hover">
  <thead class="table table-hover">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Producto</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precio</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of fragancia.Components; index as i">
    <th scope="row">{{i + 1}}</th>
    <th scope="row">{{c.Description}}</th>
    <th scope="row">
      <input type="number"
             [(ngModel)]="c.Quantity"
             (keyup.enter)="updateTotalQuantity()"/>
    </th>
    <th scope="row">{{c.Cost | number:'1.2-2'}}</th>
    <th scope="row">{{c.Cost * c.Quantity | number:'1.2-2'}}</th>
  </tr>
  <tr>
    <td></td>
    <td>Total:</td>
    <td>{{this.totalQuantity | number:'1.2-3'}}</td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="save(confirmDialog)">Guardar</button>
<button class="btn btn-primary" (click)="update(confirmDialog)">Actualizar</button>


<!--MODAL-->
<ng-template
  #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva materia prima</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    (keyup.enter)="updateTotalQuantity();"
    class="modal-body">
    <div class="d-flex input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Cantidad</span>
      </div>
      <input
        id="quantityField" #quantityField
        type="number"
        aria-label="Cantidad"
        [(ngModel)]="fragancia.Components[fragancia.Components.length - 1].Quantity"
        class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateTotalQuantity()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('cancel')">Cancelar</button>
  </div>
</ng-template>


<!--
 CONFIRM DIALOG-->
<ng-template #confirmDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >¿Estas seguro?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" (keyup.enter)="modal.close('save')">
    Al aceptar guardara los cambios.
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-outline-dark" (click)="modal.close('save')">Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancelar</button>
  </div>
</ng-template>
